@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting up Css for custom scroll bar */

html {
  --scrollbarbackgroundclr: #cccccc;
  --thumbBG: #00baf2;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarbackgroundclr);
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbarbackgroundclr);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 2em;
}
